In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/kaggle/input/fortune-global-500-companies-2023-list/fortune_global_500_2023.csv')

In [3]:
df.head()

,industry,company,country,rank,revenue_m
0,Aerospace & Defense,Boeing,United States,64,93392
1,Airlines,American Airlines,United States,260,42207
2,Apparel,Christian Dior,France,208,49221
3,Banks: Commercial & Savings,Industrial & Commercial Bank,China,26,153021
4,Beverages,Anheuser-Busch InBev,Belgium,170,56444

In [4]:
df.shape

(55, 5)

In [5]:
df.isnull().sum()

industry     0
company      0
country      0
rank         0
revenue_m    0
dtype: int64

In [6]:
df.dtypes

industry     object
company      object
country      object
rank          int64
revenue_m     int64
dtype: object

In [7]:
df.describe()

             rank      revenue_m
count   55.000000      55.000000
mean   127.618182  115907.218182
std    122.711117   93641.080036
min      1.000000   26670.000000
25%     21.500000   48672.500000
50%     92.000000   79139.000000
75%    209.500000  158308.500000
max    441.000000  500343.000000